<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" contents="<%=csrfToken%>" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>
        <%=title%>
    </title>
</head>
<script>
    function addOptions(id) {
        var x = parseInt(id);
        var correspondingMoreOptionsDiv = document.getElementById(`moreOptions-${x}`);
        if (correspondingMoreOptionsDiv.children.length == 0) {
            count = 3;
            const optionDiv = document.createElement('div');
            optionDiv.id = `q-${x}-option-${count}-div`;
            optionDiv.classList.add('option-div', 'rounded', 'flex', 'w-fit', 'items-center', 'my-2', 'px-2', 'py-1', 'hover:bg-sky-100', 'block');

            const input = document.createElement('input');
            input.placeholder = `Add ${count} option`;
            input.type = 'text';
            input.name = `q-${x}-option-${count}`;
            input.id = `q-${x}-option-${count}`;
            input.classList.add('border', 'border-blue-600', 'rounded', 'text-gray-900', 'p-2', 'text-sm');
            input.setAttribute('form', 'options-form');

            const button = document.createElement('button');
            button.classList.add('hidden', 'removeOption-icon');
            button.id = `q-${x}-opt-${count}-removeButton`
            button.title = 'Remove option';
            button.onclick = () => removeOption(button.id);

            const svg = document.createElementNS('http://www.w3.org/2000/svg', 'svg');
            svg.setAttribute('xmlns', 'http://www.w3.org/2000/svg');
            svg.setAttribute('viewBox', '0 0 24 24');
            svg.setAttribute('stroke-width', '1.5');
            svg.setAttribute('stroke', 'currentColor');
            svg.setAttribute('fill', 'none');
            svg.setAttribute('class', 'w-6 h-6');

            const path = document.createElementNS('http://www.w3.org/2000/svg', 'path');
            path.setAttribute('stroke-linecap', 'round');
            path.setAttribute('stroke-linejoin', 'round');
            path.setAttribute('d', 'M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z');

            svg.appendChild(path);
            button.appendChild(svg);
            optionDiv.appendChild(input);
            optionDiv.appendChild(button);
            correspondingMoreOptionsDiv.appendChild(optionDiv);
        } else {
            count = correspondingMoreOptionsDiv.children.length + 1 + 2;
            const optionDiv = document.createElement('div');
            optionDiv.id = `q-${x}-option-${count}-div`;
            optionDiv.classList.add('option-div', 'rounded', 'flex', 'w-fit', 'items-center', 'my-2', 'px-2', 'py-1', 'hover:bg-sky-100', 'block');

            const input = document.createElement('input');
            input.placeholder = `Add ${count} option`;
            input.type = 'text';
            input.name = `q-${x}-option-${count}`;
            input.id = `q-${x}-option-${count}`;
            input.classList.add('border', 'border-blue-600', 'rounded', 'text-gray-900', 'p-2', 'text-sm');
            input.setAttribute('form', 'options-form');

            const button = document.createElement('button');
            button.id = `q-${x}-opt-${count}-removeButton`
            button.classList.add('hidden', 'removeOption-icon');
            button.title = 'Remove option';
            button.onclick = () => removeOption(button.id);

            const svg = document.createElementNS('http://www.w3.org/2000/svg', 'svg');
            svg.setAttribute('xmlns', 'http://www.w3.org/2000/svg');
            svg.setAttribute('viewBox', '0 0 24 24');
            svg.setAttribute('stroke-width', '1.5');
            svg.setAttribute('stroke', 'currentColor');
            svg.setAttribute('fill', 'none');
            svg.setAttribute('class', 'w-6 h-6');

            const path = document.createElementNS('http://www.w3.org/2000/svg', 'path');
            path.setAttribute('stroke-linecap', 'round');
            path.setAttribute('stroke-linejoin', 'round');
            path.setAttribute('d', 'M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z');

            svg.appendChild(path);
            button.appendChild(svg);
            optionDiv.appendChild(input);
            optionDiv.appendChild(button);
            correspondingMoreOptionsDiv.appendChild(optionDiv);
        }

    }

    function removeOption(buttonId) {
        const match = buttonId.match(/q-(\d+)-opt/); // match the digits between "q-" and "-opt"
        const value = match[1]; // extract the matched value at index 1
        // console.log(value); // output: "0"
        var correspondingMoreOptionsDiv = document.getElementById(`moreOptions-${value}`)
        correspondingMoreOptionsDiv.removeChild(correspondingMoreOptionsDiv.lastElementChild);
    }

    function submitForm() {
        document.getElementById("options-form").submit()
    }
</script>

<body>
    <div class="flex justify-center">
        <div class="w-[500px]">

            <form id="options-form" action="/submitOptions" method="post"></form>

            <input type="hidden" name="_csrf" value="<%=csrfToken%>" form="options-form" />

            <%- include('header.ejs') %>
                <% for (let i=0; i < questionbody.length; i++) { %>
                    <h2 class="text-2xl text-blue-600 font-bold my-4 block">
                        Question-<%=i+1%>:
                    </h2>
                    <h4 class="border-soild border-2 border-blue-600 bg-blue-100 px-4 py-4 m-2 rounded-lg text-2xl test-black my-4 block"
                        id="question">
                        <%= questionbody[i].question %>
                    </h4>

                    <h2 class="text-2xl text-blue-600 font-bold my-4 block">
                        Description-<%=i+1%>:
                    </h2>
                    <h3 class="border-soild border-2 border-blue-600 bg-blue-100 px-4 py-4 m-2 rounded-lg text-2xl test-black my-4 block"
                        id="description">
                        <%= questionbody[i].description %>
                    </h3>

                    <h2 class="text-2xl text-blue-600 font-bold my-4 block">Options:</h2>

                    <div class="option-div rounded flex w-fit items-center my-2 px-2 py-1 hover:bg-sky-100 block">
                        <input placeholder="Add 1 option" type="text" name="q-<%= questionbody[i].id %>-option-1" id="q-<%= questionbody[i].id %>-option-1"
                            class="border border-blue-600 rounded text-gray-900 p-2 text-sm" form="options-form" />
                    </div>

                    <div class="option-div rounded flex w-fit items-center my-2 px-2 py-1 hover:bg-sky-100 block">
                        <input placeholder="Add 2 option" type="text" name="q-<%= questionbody[i].id %>-option-2" id="q-<%= questionbody[i].id %>-option-2"
                            class="border border-blue-600 rounded text-gray-900 p-2 text-sm" form="options-form" />
                    </div>

                    <!-- more options -->
                    <div id="moreOptions-<%= questionbody[i].id %>"></div>
                    <!-- mpore options -->

                    <div class="flex items-center justify-between gap-2 mt-2">
                        <button id="<%= questionbody[i].id %>"
                            class="text-lg text-center font-bold zease-in-out duration-300 text-white rounded py-2 px-2 bg-blue-600 hover:bg-blue-800 w-full"
                            onclick="addOptions(id); return false">
                            Add more options
                        </button>
                    </div>

                    <hr class="hr-element top-10px" />
                    <% } %>

                        <div class="flex-none pt-2 mt-2">
                            <button
                                class="text-lg text-center block font-bold ease-in-out duration-300 text-white rounded py-2 px-2 bg-blue-600 hover:bg-blue-800 w-full"
                                onclick="submitForm()">
                                Submit
                            </button>
                        </div>
        </div>
    </div>
</body>

</html>