<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" contents="<%=csrfToken%>">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>
        <%=title%>
    </title>
</head>

<body>
    <div class="flex justify-center">
        <div class="w-[300px]">
            <%- include('header.ejs')%>
                <form action="/createElection" method="post" class="mt-2">
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                    <div class="flex-auto pb-2">
                        <input type="text" name="title" placeholder="Whom to elect next?"
                            class="border border-blue-600 rounded text-gray-900 w-full p-2 text-sm">
                    </div>
                    <div class="flex-auto pb-2">
                        <input type="text" name="title" placeholder="Add a question (disbled for now)"
                            class="border border-blue-600 rounded text-gray-900 w-full p-2 text-sm" disabled>
                    </div>
                    <div class="flex-auto pb-2">
                        <textarea name="description" id="description" cols="30" rows="5"
                            placeholder="Description of the question (disabled for now)"
                            class="border border-blue-600 rounded text-gray-900 w-full p-2 text-sm leading-10"
                            disabled></textarea>
                    </div>
                    <div class="flex-none">
                        <button
                            class="bg-blue-600 hover:bg-blue-800 text-white px-5 py-1.5 rounded font-medium mr-2 mb-2">Create
                            election</button>
                    </div>
                </form>
                <% if(messages && messages.error && messages.error.length> 0) { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                        <li>
                            <%= messages.error[i] %>
                        </li>
                        <% } %>
                            <% } %>
                                <div class="py-2"><a href="/signout"
                                        class="rounded text-white py-2 px-5 bg-red-600 hover:bg-red-800">Signout</a>
                                </div>
        </div>
    </div>
</body>