<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" contents="<%=csrfToken%>">
  <link rel="stylesheet" href="./css/styles.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>
    <%=title%>
  </title>
</head>

<body>
  <div class="flex justify-center">
    <div class="w-[300px]">
      <%- include('header.ejs')%>
      <a href="/signout">Signout</a>
        <form action="/elections" method="post">
          <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
          <div class="flex gap-2 py-4">
            <div class="flex-auto">
              <input type="text" name="title" placeholder="Whom to elect next?"
                class="border border-blue-600 rounded text-gray-900 w-full p-2 text-sm" required>
            </div>
            <div class="flex-none">
              <a href="/createElection">
                <button
                  class="bg-blue-600 hover:bg-blue-800 text-white px-5 py-1.5 rounded font-medium mr-2 mb-2">Create</button>
              </a>
            </div>
          </div>
        </form>
        <%- include ('election.ejs', {title:"Previous elections", data : previous})%>
          <%- include ('election.ejs', {title:"Ongoing elections", data : onGoing})%>
    </div>
  </div>
</body>

</html>